@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ReviewsandRatingViewModel;

@if (Model != null)
{
    @Model.reviews.Title
    <br />
    <h2>Rating: @(((float)Model.reviews.RatingsSum / Model.reviews.ReviewsCount).ToString("0.0"))</h2>
}
else {
    @ViewBag.notReviewed;
}


<br />

@ViewBag.book

<br />


<form asp-action="AddReview" method="post">
    <input type="hidden" asp-for="@Model.Title" value="@Model.reviews.Title"/>
    <input type="hidden" asp-for="@Model.Id" value="@Model.reviews.Id"/>

    <div>
        <label asp-for="@Model.BookRating">Rating:</label>
        <input asp-for="@Model.BookRating" />
    </div>

    <button type="submit">Submit</button>
</form>




