@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService;


@model ReviewsandRatingViewModel;

@if (Model.RatingCount > 0)
{
    @Model.Title
    <br />
    <h2>Rating: @(Model.Rating)</h2>
@*    @if ((await AuthorizationService.AuthorizeAsync(User, "PolicyName")).Succeeded)*@
    @if (User.Identity.IsAuthenticated)
    {
        <p>Add another review.</p>
        <h2>Add book review</h2>
        <form asp-action="AddReview" method="post">
            <input type="hidden" asp-for="@Model.TitleAuthor" value="@(Model.Title + Model.Author)" />
            <input type="hidden" asp-for="@Model.Title" value="@Model.Title" />
            <input type="hidden" asp-for="@Model.Author" value="@Model.Author" />

            <div>
                <label asp-for="@Model.BookRating">Rating:</label>
                <input asp-for="@Model.BookRating" />
                <span asp-validation-for="@Model.BookRating" class="text-danger"></span>
            </div>

            <button type="submit">Submit</button>
        </form>
    } else
    {
        <p><a href="/Home/Index">Log in</a> to add a review</p>
    }
}
else {
    <h2>Add book review</h2>
    <form asp-action="AddReview" method="post">
        <input type="hidden" asp-for="@Model.TitleAuthor" value="@(Model.Title + Model.Author)" />
        <input type="hidden" asp-for="@Model.Title" value="@Model.Title" />
        <input type="hidden" asp-for="@Model.Author" value="@Model.Author" />

        <div>
            <label asp-for="@Model.BookRating">Rating:</label>
            <input asp-for="@Model.BookRating" />
        </div>

        <button type="submit">Submit</button>
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}